# Copy to .env (never commit .env)

BREATHE_API_KEY=
BREATHE_API_BASE=https://api.breathelondon-communities.org/api

year_of_report=2025

BL_SITE_CODE=CLDP0299
BL_START_DATE=01 Jan ${year_of_report} 00:00:00 GMT
BL_END_DATE=31 Dec ${year_of_report} 23:00:00 GMT

BL_SPECIES_NO2=INO2
BL_SPECIES_PM25=IPM25
BL_DATA_SOURCE=csv
BL_NO2_CSV=data/processed/no2.csv
BL_PM25_CSV=data/processed/pm25.csv
BL_BREATHE_EXPORT=0

BL_REPORT_YEAR=${year_of_report}
BL_Q3_START=${year_of_report}-07-01
BL_Q3_END=${year_of_report}-09-30
BL_Q4_START=${year_of_report}-10-01
BL_Q4_END=${year_of_report}-12-31
